@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Source+Sans+Pro:400,600');

html {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
