@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,600|Source+Sans+Pro:200,300,400,600');

/* html {
  font-size: 1.9vh;
  font-family: 'Source Sans Pro', sans-serif;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* mobile config */
@media only screen and (min-width: 320px) {
  html {
    font-size: 10px;
    font-family: 'Source Sans Pro', sans-serif;
  }    
}
/* tablet and desktop config */
@media only screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }    
  
}